body
{
    background-color: #011A27;
}

*
{
    user-select: none;
}

#RegisterHeading
{
    background-color: #011A27;
    width: 100%;
    color: #D5D6D2;
    padding: 10px 20px;
}

#RegisterMainDiv
{
    /*background-color: #F0810F;*/
    height: 310px;
    /*width: 30%;*/
    width: 807px;
    min-width: 507px;
    border-radius: 12px;
    /* centering h and v */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#RegisterInnerDiv
{
    background-color: #011A27;
    border-radius: 5px;
    width: 100%;
    left: 0;
    /* centering vertically */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 0;
}

#RegisterForm
{
    /*background-color: brown;*/
    width: 100%;
    margin: 35px auto 15px;
    text-align: center;
}

#RegisterSubmit:focus
{
    outline: none;
}

#inputUsername,
#inputPassword,
#inputConfirmPassword,
#inputEmail
{
    color: black;
}

#inputUsername::placeholder,
#inputPassword::placeholder,
#inputConfirmPassword::placeholder,
#inputEmail::placeholder
{
    color: #4f4f4f !important;
    /*font-weight: bold;*/
}

#inputUsername:focus,
#inputPassword:focus,
#inputConfirmPassword:focus,
#inputEmail:focus
{
    outline: none !important;
    box-shadow: none;
}

.username-and-password-div
{
    /*background-color: cadetblue;*/
    width: 65%;
    margin: 15px auto;
    display: flex;
}

.custom-control
{
    /*background-color: cadetblue;*/
    color: black;
    height: 30px;
    margin: 5px 0;
}

.custom-control-label
{
    /*background-color: aqua;*/
    margin: 0 4px;
    color: #D5D6D2;
}

#roleInputs
{
    /*background-color: burlywood;*/
    height: 37px;
}

#roleInfo
{
    /*background-color: #011A27;*/
    height: 125px;
    margin: 25px 0;
    /*text-shadow: 2px 2px 4px #000000;*/
    /*border-radius: 7px;*/
}

#chooseRoleHeading
{
    /*background-color: chartreuse;*/
    color: #D5D6D2;
    margin: 0 0 10px;
    font-size: 15pt;
}

#roleDescriptionDiv
{
    /*background-color: coral;*/
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    width: 90%;
}

.role-description-title
{
    width: 100%;
    /*background-color: aqua;*/
    color: #D5D6D2;
    margin-bottom: 0.8em;
}

p
{
    /*background-color: darkolivegreen;*/
    color: #D5D6D2;
}

.input-group-text
{
    color: #E6DF44;
    background: #F0810F;
    border-color: #F0810F;
}

#inputFieldsDiv
{
    /*background-color: darkturquoise;*/
    padding: 0;
    width: 50%;
    margin: 0;
}

#roleDiv
{
    /*background-color: darkgreen;*/
    padding: 0;
    text-align: center;
    width: 50%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #F0810F;
    margin: 0 auto;
}

#inputFieldsAndRoleDiv
{
    width: 100%;
    margin: 25px 0;
    padding: 0;
    /*background-color: darkred;*/
    display: flex;
}

#buttonsDiv
{
    /*background-color: black;*/
    padding: 0;
    margin-bottom: 25px;
}

#haveAccountDiv
{
    /*background-color: darkred;*/
    width: auto;
    height: auto;
    display: flex;
    padding: 0;
}

.centeringButtons
{
    width: 450px;
    /*background-color: darkolivegreen;*/
    display: flex;
    padding: 0;
}

#RegisterFormSubmit
{
    width: 45%;
    color: #b7b8b4;
    background-color: #F0810F;
}

#RegisterFormSubmit:hover
{
    background-color: #c6630f;
}

#linkToLogin
{
    color: #D5D6D2;
}

#linkToLogin:hover
{
    color: #E6DF44;
    text-decoration: underline;
}