.subcontainer
{
  height: 33.8em;
}

h3
{
  color: #ff8b00;
  font-family: Tahoma, Geneva, sans-serif;
}

mat-divider
{
  color: #ff8b00;
  width: 90%;
  margin-left: 10px;
}

mat-list
{
  background-color: #1d1d1d;
  color: #ff8b00;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  width: 30%;
  margin: 20px 10px;
  border-radius: 10px;
}

mat-list-item:nth-child(2)
{
  margin-top: 7px;
}

mat-list-item:last-child
{
  margin-bottom: 7px;
}

.list-item-bullet
{
  padding-right: 10px;
  padding-top: 2.5px;
}
.container-details
{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

mat-toolbar
{
  background-color: #1d1d1d;
}

#header-details
{
  top: 0;
  left: 0;
  display: grid;
  height: 4em;
}

#footer-details
{
  bottom: 0;
  left: 0;
  height: 2em;
}

#title-details, #title-description-details
{
  font-family: Impact, Charcoal, sans-serif;
  color: #ff8b00;
}

#title-details
{
  font-size: xx-large;
}

#title-description-details
{
  font-size: large;
}

.footer-info-details
{
  font-family: Impact, Charcoal, sans-serif;
  color: #ff8b00;
  font-size: small;
  position: relative;
}

.footer-info-details:first-child
{
  left: 0;
}

.footer-info-details:nth-child(2)
{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer-info-details:last-child
{
  right: 0;
}
