<div class="container-details">
  <mat-toolbar id="header-details">
    <span id="title-details">HAnt</span>
    <span id="title-description-details">Your Hazard Smart Assistant</span>
  </mat-toolbar>
  <div class="subcontainer">
    <mat-list class="detailsInfoContainer">
      <mat-list-item>
        <img class="header-icon" src="/assets/icons/newspaper.png" alt="iconNews">
        <h3 mat-subheader>Updates</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <img class="list-item-bullet" src="/assets/icons/list_item.png" alt="iconNews">
        <span>Bla bla bla bala bla.</span>
      </mat-list-item>
      <mat-list-item>
        <img class="list-item-bullet" src="/assets/icons/list_item.png" alt="iconNews">
        <span>Bla bla bla bala bla.</span>
      </mat-list-item>
      <mat-list-item>
        <img class="list-item-bullet" src="/assets/icons/list_item.png" alt="iconNews">
        <span>Bla bla bla bala bla bjdfkb bla bla bla.</span>
      </mat-list-item>
      <mat-list-item>
        <img class="list-item-bullet" src="/assets/icons/list_item.png" alt="iconNews">
        <span>Bla bla bla bala bla. Bla bla.</span>
      </mat-list-item>
      <mat-list-item>
        <img class="list-item-bullet" src="/assets/icons/list_item.png" alt="iconNews">
        <span>Bla bla bla bala bla.dcd</span>
      </mat-list-item>
      <mat-list-item>
        <img class="list-item-bullet" src="/assets/icons/list_item.png" alt="iconNews">
        <span>Bla bla bla bla.</span>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-toolbar id="footer-details">
    <span class="footer-info-details">About Us</span>
    <span class="footer-info-details">© 2018 Hazard Smart Assistant. All rights reserved.</span>
    <span class="footer-info-details">Project progress</span>
  </mat-toolbar>
</div>
