<div class="main-container" *ngIf="!hasEvent">
  <img class="main-logo" alt="Hant Logo" src="assets/logo.svg">
</div>

<router-outlet></router-outlet>

<div class="container" #main_container *ngIf="hasEvent">
  <mat-toolbar id="header">
    <span id="title">HAnt</span>
    <span id="title-description">Your Hazard Smart Assistant</span>
  </mat-toolbar>
  <agm-map [latitude]="47.166700" [longitude]="27.600000">
    <agm-marker
      *ngFor="let m of markers;"
      (markerClick)="clickMarker(infowindow, infowindowHazard, location, localTime, m)"
      [iconUrl]="m.iconPath"
      [latitude]="m.lat"
      [longitude]="m.lng">
      <agm-info-window #infowindow>
        <div class="agm-info-window-mydiv">
          <h2 class="agm-info-window-h2" #infowindowHazard></h2>
          <ul class="agm-info-window-infolist">
            <li #location></li>
            <li #localTime></li>
          </ul>
          <button class="agm-info-window-button" (click)="openDetailsPage(main_container)">
            Details
          </button>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <mat-toolbar id="footer">
    <span class="footer-info">About Us</span>
    <span class="footer-info">© 2018 Hazard Smart Assistant. All rights reserved.</span>
    <span class="footer-info">Project progress</span>
  </mat-toolbar>
</div>
